DB_HOST=localhost
DB_PORT=5433
DB_HOST_PORT=5433
DB_NAME=slope_iot
DB_USER=slope
DB_PASSWORD=CHANGE_ME_STRONG_PASSWORD
JWT_SECRET_KEY=CHANGE_ME_GENERATE_WITH_OPENSSL_RAND_HEX_32
ALLOWED_ORIGINS=http://localhost:5173
API_HOST_PORT=8000
FRONTEND_HOST_PORT=5173
RTKLIB_CONVBIN_PATH=/usr/local/bin/convbin
RTKLIB_RNX2RTKP_PATH=/usr/local/bin/rnx2rtkp
RTKLIB_NAV_FILE=
MEASUREMENTS_RETENTION_DAYS=730
MFA_ENFORCEMENT_ENABLED=false
WEATHER_POLLING_ENABLED=true
DEVICE_DEFAULT_PERIODIC_UPLOAD_S=300
DEVICE_DEFAULT_FIRMWARE_VERSION=
DEVICE_DEFAULT_THRESHOLD_G=0.5
DEVICE_DEFAULT_TIME_RECORD_MS=2000
DEVICE_DEFAULT_TRIGGER_START=0
DEVICE_DEFAULT_TIMEOUT_TRIGGER=300
